<html>
<head>
{{> menu}}
  {{> header}}

  </head>

  <body>

  <center><h1><b>SCRUM</b></h1><center>

  <div class="b"> "Scrum is a framework that helps teams work together. Much like a rugby team (where it gets its name) training for the big game, Scrum encourages teams to learn through experiences, self-organize while working on a problem, and reflect on their wins and losses to continuously improve."
  <br>
  --https://www.atlassian.com</div>

<img src="https://i.imgur.com/ZRiBevT.jpg" class="img-fluid" alt="Responsive image">


  </body>
  </html>