<html>
    <head>
        {{> menu}}
        {{> header}}

    </head>

<body>
<center><h1><b>STUDY</b></h1><center>
<div class="a">
<ol>
The Professional Scrum Master I Certification costs <b>$150 USD per attempt</b> and:
<br><b>Passing score:</b> 85%
<br><b>Time limit:</b> 60 minutes
<br><b>Number of Questions:</b> 80
<br><b>Format:</b> Multiple Choice, Multiple Answer and True/False
<br><b>Difficulty:</b> Intermediate
</ol>
</div>
<br>
<div class="c">
<div class="card-deck">
<div class="card" style="width: 12rem;">
  <img src="https://i.imgur.com/v9lYgdS.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><b>Scrum Open Assesment</b> - practice test for the Scrum Certification. Some of the questions are on the exam.</p>
    <a href="https://www.scrum.org/open-assessments/scrum-open" target="_blank" class="btn btn-primary">GO</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="https://i.imgur.com/quuPI7P.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><b>Mikhail Lapshin</b>-  Allows you take practice test in real or learning mode. Test is very similar to the actual exam.</p>
    <a href="https://mlapshin.com/index.php/scrum-quizzes/" target="_blank" class="btn btn-primary">GO</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://i.imgur.com/FPchTyU.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><b>Volkerdon</b> - This PSM 1 exam preparation course consists of assessments (100 questions) and very helpful to prepare for PSM 1 exam. </p>
    <a href="https://www.volkerdon.com/courses/psm1" target="_blank" class="btn btn-primary">GO</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://i.imgur.com/gCUwSP0.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><b>Flash Cards</b> - Great for reviewing definitions and true or false question that are on the exam. </p>
    <a href="https://quizlet.com/243461786/flashcards" target="_blank" class="btn btn-primary">GO</a>
  </div>
</div>
</div>
</div>

</body>

</html>